/*=============================================================================
     Any custom css you want to apply should be defined here
==============================================================================*/
.ic-pagination ul li a.previous,
.ic-pagination ul li a.next{
    width: 85px;
}

button.login-btn{
    width: 100%;
    border: none;
    outline: none;
}

.ic-btn.profile-dropdown-item.dropdown-toggle::after{
    display: none !important;
}

.ic-profile-header-btn .dropdown-menu{
    background-color: #1A1A1F !important;
    width: 100%;
}
.ic-profile-header-btn .dropdown-menu .dropdown-item{
    color: #fff;
}
.ic-profile-header-btn .dropdown-menu .dropdown-item:hover{
    background-color:#E2CF61;
    color: #000;
}

.ic-checkout-payment-left .ic-express-checkout label {
    height: 56px;
    line-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #1A1A1F;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-family: galano-medium, serif;
    cursor: pointer;
}
.ic-checkout-payment-left .ic-express-checkout label.active{
    background: #D6BA4F;
    color: #000;
}
